click
pathlib
ipython
ipykernel
jupyter
setuptools>=38.5.1

pandas
numpy
matplotlib
plotly
BeautifulSoup4
selenium

scikit-learn
tensorflow
keras
quandl


requests
asyncio
websockets
websocket-client==0.46.0

python-snappy
yfinance
pystore
qtpylib
pandas_datareader
